 @lost gutter 5px; /* @lost gutter 10px; gutter accepts any unit value. 30px (default).  The margin on the right side of the element used to create a gutter. Typically this is left alone and settings.gutter will be used, but you can override it here if you want certain elements to have a particularly large or small gutter (pass 0 for no gutter at all).*/

$orang: #FF4500;

$yelowGren: #9ACD32;
	
.App>ul {
	min-width: 500px;
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
	background-color: $orang;
	lost-utility: clearfix;

    &>li{
    list-style-type: none; /* Убираем маркеры */
	background-color: $yelowGren;
	
    lost-column: 1/6 6 5px; /* 3-й gutter */
	/*lost-waffle: 1/2;*/	
   }	
} 
	
 /*  
.navMainUl li.L2x{ lost-column: 1/3 0 5px }   

*/
 /*  
 .navMainUl li:first-child {
  lost-offset: 1/7;
}
*/
