$orang: #FF4500;
$yelowGren: #9ACD32;
 
 @lost gutter 10px;
 

.Categories {
	lost-utility: clearfix;	
	
	&>ul{
		
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
	background-color: $yelowGren;
	lost-column: 1/3 ;	
    }
	
	&>div{
	lost-column: 2/3 ;
    background-color: $yelowGren;	
    }
}

/*.Categories */


