<% layout('layout/bolierplate') -%>

<form class="ui form error">
  <div class="two fields">
    <div class="field error">
      <label>Integer</label>
      <input name="integer" type="text" value="101">
    </div>
    <div class="field">
      <label>E-mail</label>
      <input name="email" type="text" value="jack@foo">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Decimal</label>
      <input name="decimal" type="text" value="1.1.1">
    </div>
    <div class="field error">
      <label>Number</label>
      <input name="number" type="text" value="+200">
    </div>
  </div>
  <div class="two fields">
    <div class="field error">
      <label>URL</label>
      <input name="url" type="text" value="ww.fakeurl.com">
    </div>
    <div class="field error">
      <label>RegEx</label>
      <input name="regex" type="text" value="joe">
    </div>
  </div>
  <div class="ui submit button">Submit</div>
  <div class="ui error message"><ul class="list"><li>Please enter an integer value</li><li>Please enter a valid number</li><li>Please enter a url</li><li>Please enter a 4-16 letter username</li></ul></div>
</form>

